.App {
  flex-flow: column;
  align-self: flex-end;
  
}

.App-header {
  background-color: transparent;
  height: 50px;
  padding: 10px;
  color: grey;
  font-size: 22px;
  text-align: center;
  letter-spacing: 6px;
  margin: 50px;
}

footer {
  text-align: center;
}

